server:
  port: 8082

spring:
  application:
    name: ms-condominios

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:condominiosdb}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    # Mostra o SQL no console (bom para debug)
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    enable: true
    baseline-on-migrate: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka/}
    fetch-registry: true
    register-with-eureka: true